{% extends 'home/base.html' %}

{% block mi_contenido %}

<div class="container">
    <section>
        <h3>Integrantes:</h3>
    <p>
        
        <p>
            <strong>Leysa Pozo:</strong> Estudiante de programación. Argentina, Córdoba, capital.    
        </p>
        <p>
            <strong>Leonardo Bono:</strong> Estudiante de programación. Argentina, Buenos Aires, capital.    
        </p>
        <p>
            <strong>Julian Gil:</strong> Estudiante - Argentina, Buenos Aires, Ramos Mejia.
        </p>

    </p>
    </section>
</div>



{% endblock mi_contenido %}