{% extends 'home/base.html' %}

{% block titulo_pagina %}
<title>Cargar Libro</title>
{% endblock titulo_pagina %}

{% block mi_contenido %}
<div class="container">
    
    <p>
    <h3>Cargar libro</h3>
    <br>
    <form action={% url 'cargar_libro' %} method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form}}
        </table>          
    <br>
        <br>
        <button>Crear</button>
        <br>
    </form>
    <p>
</div>

{% endblock mi_contenido %}


