{% extends 'home/base.html' %}

{% block titulo_pagina %}
<title>Cargar Libro</title>
{% endblock titulo_pagina %}

{% block mi_contenido %}
<div class="container">

    <form action={% url 'editar_libro' libro.id %} method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
            {% comment %} {{formulario}} {% endcomment %}
            {% comment %} VERSION EN CLASES BASADA EN VISTA {% endcomment %}
            {{form.media}}
            {{form}}
            
        </table>
        <br>
        <button>Guardar</button>
        <form action={% url 'ver_libros' %} method="POST" enctype='multipart/form-data'>
        <button>Volver</button>
        <br>
        </form>
    </form>
</div>

{% endblock mi_contenido %}