{% extends 'home/base.html' %}

{% block titulo_pagina %}
<title>Ver libros</title>
{% endblock titulo_pagina %}


{% block mi_contenido %}
<div class="container">
    <h3>Listado de libros:</h3>
    
    <form action={% url 'ver_libros' %} method="GET">
            {{formulario}}
        <button>Buscar</button>
    </form>

    <p>
        
    {% if libros %}
    {% for libro in libros %}
    <li> <strong> Nombre: </strong> {{libro.nombre}} - <strong>Descripcion:</strong> {{libro.descripcion}} - <strong>Categoria: </strong> {{libro.categoria}} - <strong> Precio: </strong>{{libro.precio}} - <strong>Fecha de creación:</strong>{{libro.fecha_creacion}}</li>
    {% endfor %}
    </p>
    {% else %}
    <p>No se encontraron resultados</p>
    {% endif %}
    
    

</div>
{% endblock mi_contenido %}
