{% extends 'home/base.html' %}

{% block titulo_pagina %}
<title>Ver libros</title>
{% endblock titulo_pagina %}


{% block mi_contenido %}
<div class="container">
    <br>
    <h3 >Listado de libros</h3>
    
    <form action={% url 'ver_libros' %} method="GET">
            {{formulario}}
        <button>Buscar</button>
    </form>

    <p style="margin:40px">

    {% if libros %}
    {% for libro in libros %}
        <li style="margin:40px"> 
            {% if request.user.first_name %}
            <strong>Autor del posteo:</strong>
            <strong style="color:red">{{request.user.first_name}} {{request.user.last_name}}</strong><br>
            {% else %}
            <span>Complete su nombre en el perfil</span>
            <a href={% url 'editar_perfil' %}> Ir a perfil</a>
            <br>
            {% endif %}
            <strong> Nombre: </strong> {{libro.nombre}} -
            <strong>Escritor:</strong> {{libro.escritor}} 
            <br>
            <br>
            <button><a style="text-decoration:none; color:black" href={% url 'ver_libro' libro.id %}>Ver Libro</a></button>
            <button><a style="text-decoration:none; color:black" href={% url 'editar_libro' libro.id %}>Editar</a></button>
            <button><a style="text-decoration:none; color:black" href={% url 'eliminar_libro' libro.id %}>Eliminar</a></button>
       
        </li>
    {% endfor %}
    </p>
    {% else %}
    <p>No se encontraron resultados</p>
    {% endif %}
    

</div>
{% endblock mi_contenido %}
